/* ====================
common rules
=====================*/
html {
  font: normal 62.5% Roboto, sans-serif;
}

body {
  background-color: #fafafa;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 0;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Nunito, sans-serif;
}

p {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: Nunito, sans-serif;
}

img {
  max-width: 100%;
}

.section-header {
  padding: 30px 0;
}

a {
  transition: transform 0.5s linear;
}

a:hover {
  color: grey;
  transform: scale(1.1);
}
/*=========================*/

header {
  text-align: center;
  padding: 0 10px 30px;
}

nav ul li {
  background-color: white;
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
  margin-bottom: 5px;
  padding: 10px 0;
}

nav ul li a {
  display: inline-block;
}

.profile-image {
  padding: 30px 0;
}

header p {
  font-size: 1.4rem;
  padding: 0 10px;
}

.portfolio {
  background-color: white;
  padding: 0 10px 30px;
  text-align: center;
}

.portfolio-section {
  padding-bottom: 40px;
}

.portfolio-section > h3 {
  padding: 30px 0 20px;
}

.skills {
  background-color: white;
  margin-top: 20px;
  text-align: center;
  padding: 0 30px 30px;
}

.skills-icon {
  padding: 15px 5px 0 0;
}

.contact {
  text-align: center;
  padding: 0 0 30px;
  border-bottom: 2px solid #e7e7e7;
  margin: 0 20px;
}

.address {
  padding: 20px 0 30px;
}

.address > a {
  display: block;
  padding-bottom: 10px;
  font-size: 1.4rem;
}

.footer {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > a {
  font-weight: bold;
  font-size: 1.2rem;
}

.address-value {
  font-weight: bold;
  padding-left: 5px;
}

.footer-link {
  display: none;
}

@media (min-width: 768px) {
  header {
    padding: 0 30px;
  }

  nav ul li {
    margin-bottom: 0;
    background-color: #fafafa;
    display: inline-block;
    padding-right: 30px;
  }

  nav ul li:last-child {
    padding-right: 0;
  }

  .profile-container {
    display: flex;
  }

  .profile-text {
    order: -1;
    align-self: flex-start;
    padding: 30px 30px 0 0;
    font-size: 1.8rem;
    text-align: left;
  }

  .portfolio {
    padding: 0 15px;
  }

  .portfolio-sections {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-section {
    flex: 1 50%;
    padding: 0 15px 45px;
  }

  .portfolio-section > p {
    padding: 0 45px;
  }

  .skills-img {
    display: flex;
    justify-content: center;
  }

  .skills-icon {
    max-width: 25%;
  }

  .contact > p {
    padding: 0 100px;
  }

  .footer-mobile-link {
    display: none;
  }

  .footer-link {
    display: block;
    padding-right: 30px;
  }

  .footer-link:last-child {
    padding-right: 0;
  }

  .footer > h2 {
    margin-right: auto;
  }

  .profile-image {
    padding: 30px 0;
  }
}

@media (min-width: 1024px) {
  .portfolio {
    margin: 0 20px;
  }

  .portfolio-section {
    flex: 1 calc(100% / 3);
  }

  .header-nav {
    display: flex;
    padding: 30px 0;
  }

  h1 {
    margin-right: auto;
  }

  .profile-container {
    justify-content: space-between;
  }

  .portfolio {
    padding: 0 15px 30px;
  }

  header,
  .contact {
    padding: 0 50px 30px;
  }

  .skills {
    margin: 20px 20px 0;
  }

  .contact {
    margin: 0 50px;
    padding: 0 0 30px;
  }

  .contact > p {
    padding: 0 200px;
  }

  .footer {
    padding: 10px 50px;
  }
}
