html {
  font: normal 62.5% Roboto, sans-serif;
}

body {
  background-color: #FAFAFA;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Nunito, sans-serif;
}

p {
  font-size: 1.4rem;
  font-weight: normal;
  font-family: Nunito, sans-serif;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

nav ul li {
  background-color: white;
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
  margin-bottom: 5px;
  padding: 10px 0;
}

.profile-image {
  padding: 20px 25px 15px;
}

header p {
  font-size: 1.4rem;
  padding: 0 10px;
}

.portfolio {
  background-color: white;
  padding: 0 10px 30px;
  text-align: center;
}

.portfolio-header {
  padding: 30px 0;
}

.portfolio-section {
  margin-bottom: 30px;
}

.portfolio-section:last-child {
  margin-bottom: 0;
}

.portfolio-section > h3 {
  padding: 20px 0 10px;
}

.skills {
  background-color: white;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}

.skills-icon {
  padding: 15px 5px 0 0;
}

.contact {
  text-align: center;
  margin: 0 10px;
  border-bottom: 2px solid #E7E7E7;
}

.contact-header {
  padding: 30px 0 20px;
}

.address {
  padding: 20px 0 30px;
}

.address > a {
  display: block;
  padding-bottom: 10px;
  font-size: 1.4rem;
}

.footer {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > a {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}



